app-parallax {
  border: 3px solid #00bcd4;
  display: block;
  height: 600px;
  overflow: hidden;
  position: relative;
}

app-parallax-item {
  position: absolute;
}

/* #region - Position */
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

.h-center {
  left: 50%;
  transform: translateX(-50%);
}
.v-center {
  top: 50%;
  transform: translateY(-50%);
}
/* #endregion - Position */